.navBar.container {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  background: #101010;
}

.navBar.container .logo {
  display: inline-block;
  padding: 16px;
}

.navBar .navItem {
  padding: 16px 16px 8px;
  display: inline-block;
  border-radius: 8px 8px 0px 0px;
  background-color: white;
  margin-left: 8px;
}

.navBar .navItemContainer {
  padding-top: 24px;
}

.navBar a {
  padding-top: 24px;
  text-decoration: none;
}
